.missionContainer {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.name {
  font-weight: bold;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.joinBtn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(24, 20, 20);
  width: 120px;
  padding: 5px;
}

.leaveBtn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgb(197, 34, 34);
  color: red;
  width: 120px;
  padding: 5px;
}

.profileTable {
  border-collapse: collapse;
  width: 400px;
  padding: 5px;
  margin: 20px;
}

.profileTable th {
  font-size: 25px;
}

.profileRow {
  display: block;
  padding: 25px;
  border: 0.1px solid rgb(207, 191, 191);
  font-size: 16px;
}
