.container {
  width: 40%;
}

.container ul {
  list-style-type: none;
}

.container ul li {
  border: 1px solid black;
  padding: 10px 15px;
}

/* MyProfile.module.css */

/* .container {
  margin-top: 20px;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container li {
  margin-bottom: 5px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
} */
