* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav img {
  width: 4rem;
  object-fit: contain;
}

.flex {
  display: flex;
}

nav,
.logo,
ul {
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #fff;
  padding: 1rem 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:active {
  text-decoration: underline;
}

.logo {
  gap: 1rem;
}
