* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav img {
  width: 4rem;
  object-fit: contain;
}

.flex {
  display: flex;
}

nav,
.logo,
ul {
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #fff;
  padding: 1rem 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:active {
  text-decoration: underline;
}

.logo {
  gap: 1rem;
}

table,
.profile {
  margin-top: 2rem;
}

tr,
td {
  max-width: 50vw;
  padding: 1rem;
  overflow-wrap: normal;
}

.rocket img {
  width: 10rem;
  object-fit: contain;
}

.rockets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem;
}

.rocket {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}

.rocket .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.reserve-button {
  width: 20%;
  cursor: pointer;
}

.cancel {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
}

.cancel:hover {
  background-color: transparent;
  color: #007bff;
}

.badge {
  background-color: #007bff;
  color: #fff;
  padding: 0.3rem;
  border-radius: 10px;
}
